{% load static %}
<style>
    .tab-titles {
        display: flex;
        flex-wrap: wrap;
        /* Allow tabs to wrap to the next line on smaller screens */
        margin: 20px 0 40px;
    }

    .tab-links {
        margin-right: 45px;
        /* Reduced margin for smaller screens */
        font-size: 30px;
        /* Adjusted font size for smaller screens */
        font-weight: 500;
        cursor: pointer;
        position: relative;
    }

    .tab-links::after {
        content: '';
        width: 0;
        height: 3px;
        background: #ff004f;
        position: absolute;
        left: 0;
        bottom: -8px;
        transition: 0.5s;
    }

    .tab-links.active-link::after {
        width: 50%;
    }

    .tab-contents ul li {
        list-style: none;
        margin: 10px 0;
    }

    .tab-contents ul li span {
        color: #b54769;
        font-size: 15px;
    }

    .tab-contents {
        display: none;
    }

    .tab-contents.active-tab {
        display: block;
    }

    @media only screen and (max-width: 600px) {
        .tab-links {
            margin-right: 27px;
            /* Further reduced margin for smaller screens */
            font-size: 17px;
            /* Further adjusted font size for smaller screens */
        }
    }
</style>

<div id="about" style="color: #fff;">
    <h3 style="font-size: 40px; font-weight: 500; color: blanchedalmond;"><br>About Me</h3>
    <p> <br> <br>
        Python Developer with 4+ years of experience building scalable web applications and performing data-driven analysis. Skilled in Django, Streamlit, Pandas, and NumPy, with hands-on experience in SAP data uploads and process automation. Currently working as a Working Student at Saint-Gobain Glass, Porz Cologne, Germany, contributing to digital transformation initiatives.
        <br>
        Core Expertise:
        <br>
        Django • REST APIs • AWS • PostgreSQL • DevOps
        <br>
        Data Analysis (Pandas & NumPy) • Streamlit • SAP Automation
        <br>
        Key Achievements:
        <br>
        Developed a Streamlit-based SAP forecast upload tool, streamlining internal reporting.
        <br>
        Optimized API performance, improving issue resolution rates by 15%.
        <br>
        Developed an automated page-access tracking system using Python
        <br>
        Developed a fully functional movie website from the ground up using Django (Python), integrating RESTful APIs, AWS services for deployment and storage, and responsive front-end design with Bootstrap.
        <br>
        Passionate about solving complex technical problems and delivering clean, maintainable, and efficient code that drives measurable impact.</p>
    <br> <br>
    <div class="tab-titles">
        <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
        <p class="tab-links" onclick="opentab('experience')">Experience</p>
        <p class="tab-links" onclick="opentab('education')">Education</p>
    </div>
    <div class="tab-contents active-tab" id="skills">
        <ul>
            <li><span>Frontend</span><br>Html, Css, Bootstrap</li>
            <li><span>Backend</span><br>Python, Django, DRF, AWS, <br>Postgresql, APIs, Cloud Computing</li>
            <li><span>Others</span><br>Python Scripting</li>
            <li>ChatGPT</li>
            <li>Clean Code</li>
            <li>Data Analysis with Python</li>
            <li>Call Routing Algorithm</li>
            <li>Email Communication Automation</li>
            <li>CRM Integration</li>
            <li>Performance Dashboard</li>
            <li>Customer-Centric Development</li>
            <li>Tech-Infused Customer Support</li>
            <li>Inbound Call Management Automation</li>
        </ul>
    </div>
    <div class="tab-contents" id="experience">
        <ul>
            <li><span>07/2025 - Present</span><br>Working Student Python Developer | Saint Gobain Glass</li>
            <li><span>07/2024 - 09/2024</span><br>Database Specialist | Time4Change</li>
            <li><span>04/2019 - 02/2022</span><br>Junior Python Developer | Fx Point</li>
            <li><span>01/2018 - 12/2018</span><br>Information Technology Operations Support | Dew Sat Engineering</li>
            <li><span>04/2016 - 12/2016</span><br>Installation Specialist | MultiChoice Group (Paulsco Electronics)</li>
        </ul>
    </div>
    <div class="tab-contents" id="education">
        <ul>
            <li><span>03/2025 - Present</span><br>Masters in Technical Management | Rheinische Fachhochschule Köln</li>
            <li><span>11/2022 - 11/2023</span><br>Weiterbildung Python Programmer | Digital Career Institute Berlin GmbH</li>
            <li><span>09/2012 - 08/2017</span><br>Bachelors in Electrical/Electronics Engineering | Madonna University Nigeria</li>
        </ul>
    </div>
</div>

{% include 'core/javascript.html' %}