{% extends 'core/base.html' %}

{% block title %}
Welcome | {% endblock %}
{% load static %}

{% block content %}

<!-- Profile Section -->
<main>
    <div class="container mt-4 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="row justify-content-center">
            <!-- Card section -->
            <div class="card text-center" style="width: 18rem; background-color: rgba(255, 255, 255, 0.1); color:#fff;">
                <img src="{% static 'img/jay_bg.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Engr. Blaise C.U</h5>
                    <a href="{% url 'Me:download_cv_unavailable' %}" class="btn btn2">Download CV</a>
                </div>
            </div>

            <!-- Content section -->
            <div class="col-lg-8 " style="color: white;">
                <h1 style="font-size: 60px; color: whitesmoke;">
                    <span style="color:rgb(199, 92, 92);">Data Analyst</span> || Python Developer
                </h1> <br>
                <p style="font-size: 30px;">Based in Germany</p> <br> <br>

                <!-- Status section -->
                <div class="d-flex justify-content-around align-items-center mt-4">
                    <div class="status text-center">
                        <h2 style="color: rgb(199, 92, 92);">4+</h2>
                        <p>Years of <br>Experience</p>
                    </div>
                    <div class="status text-center">
                        <h2 style="color: rgb(199, 92, 92);">500+</h2>
                        <p>Clients <br>Globally</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'core/about_me.html' %}
    {% include 'core/services.html' %}
    {% include 'core/projects.html' %}
    {% include 'core/contact.html' %}

</main>
{% endblock %}