{% load static %}

<style>
  .carousel-inner img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-height: 400px;
    object-fit: cover; /* Ensure the image covers the entire container */
  }
</style>

<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <h3 style="font-size: 40px; font-weight: 500; color: blanchedalmond; margin-top: 50px; margin-bottom: 30px">My Work
  </h3>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://github.com/MarcinIgna/imdb-django-api/blob/main/front_site.png?raw=true" class="d-block w-100" alt="MoviePMB">
    </div>
    <div class="carousel-item">
      <img src="https://i.ibb.co/kJjSwcz/COD-readme.png" class="d-block w-100" alt="COD">
    </div>
    <div class="carousel-item">
      <img src="https://github.com/MarcinIgna/imdb-django-api/blob/main/front_site.png?raw=true" class="d-block w-100" alt="MoviePMB">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>